header{
	border:1px solid #A8A8A8;
	height: 35vh;
	border-radius: 5px;
}

header img, header h2{
	display: inline-block !important;
	max-height: 90%;
}

header img:nth-child(1){
	width: 30%;
}

header img:nth-child(2){
	margin-left: 3%;
	width: 62%;
	margin-top: -10%;
	position: relative;
}
 
header h2{
	position: relative;
	width: 50%;
	text-align: center;
	margin-left: 42%;
	font-family: 'Poiret One', cursive;
	font-size: 50px;
	top: -1.75em;
}

.container{
	padding-left: 15%;
	padding-right: 15%;
}

input, select{
	margin: 10px 20px 10px 10px;
}

input:last-child{
	margin-left: 14.2em;
}

.jumbotron{
	background: #33CC99;
}

.madlib-text{
	font-family: 'Loved by the King', cursive;
	font-size: 30px;
}

select{
	width: 11.071em;
	height: 1.85em;
}