
header{
	height: 35vh;
	border-radius: 5px;
}

header img, header h2{
	display: inline-block !important;
	max-height: 90%;
}

.jumbotron h2{
	text-align: center;
}

.container .jumbotron{
	padding-left: 10%;
	padding-right: 10%;
}

header img:nth-child(1){
	width: 30%;
}

header img:nth-child(2){
	margin-left: 3%;
	width: 62%;
	margin-top: -10%;
	position: relative;
	border: 1px solid silver;
	box-shadow: 10px 10px 5px #888888;
}
 
header h2{
	position: relative;
	width: 50%;
	text-align: center;
	margin-left: 42%;
	font-family: 'Poiret One', cursive;
	font-size: 50px;
	top: -1.75em;
}

.container{
	margin-top: 50px;
	margin-bottom: 20px;
	border:1px solid #A8A8A8;
	box-shadow: 10px 10px 5px #888888;
	border-radius: 10px;
}

input, select{
	width: 25%;
	margin: 10px 3.93em 10px 10px;
	height: 2.5em;
}

input:focus{
	outline-color: blue;
}

input[type="number"],input[type="submit"]{
	margin-left: 22em;
}

input[type="submit"]{
  width: 25%;
}

.jumbotron{
	background: #33CC99;
}

.madlib-text{
	font-family: 'Loved by the King', cursive;
	font-size: 50px;
}

.madlib-text button{
	font-family: sans-serif;
}

form{
	margin: 0 auto;
}


/*Animation Code*/
.madlib-text.ng-hide-add,.madlib-text.ng-hide-remove,.madlib-generator.ng-hide-add,.madlib-generator.ng-hide-remove {
  display:block!important;
}

.madlib-text.ng-hide-add{
  -webkit-transition: opacity linear 0.2s;
  transition: opacity linear 0.2s; 
}

.madlib-text.ng-hide-remove{
  -webkit-transition: opacity linear 1.5s;
  transition: opacity linear 1.5s; 
}

.madlib-generator.ng-hide-add{
   -webkit-transition: opacity linear 0.2s;
    transition: opacity linear 0.2s; 
}

.madlib-generator.ng-hide-remove{
   -webkit-transition: opacity linear 1.5s;
    transition: opacity linear 1.5s; 
}

.madlib-text.ng-hide, .madlib-generator.ng-hide{
  opacity: 0;
}


