<!DOCTYPE html>
<html lang="en" ng-app="madlibs">
<head>
	<meta charset="UTF-8">
	<title>ngMadLibs</title>
	<link href="img/favicon.ico" rel="icon" type="image/x-icon" />
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Loved+by+the+King' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div class="container">
		<header>
			<img src="img/mad-lib-happy-face.png">
			<img src="img/ng-mad-libs-logo.png">
			<h2>Automate This!</h2>
		</header>
		<div ng-controller="MadlibController as madlib">
			<div class="jumbotron">
				<h2>Provide the following words: </h2>
				<input type="text" ng-model=madlib.mName>
				<input type="text" ng-model=madlib.jobTitle>
				<input type="text" ng-model=madlib.tediousTask>
				<input type="text" ng-model=madlib.dirtyTask>
				<input type="text" ng-model=madlib.celebrity>
				<input type="text" ng-model=madlib.uselessSkill>
				<input type="text" ng-model=madlib.adjective>
				<input type="text" ng-model=madlib.obnoxiousCelebrity>
				<input type="text" ng-model=madlib.hugeNumber>
			</div>
			<div class="madlib-text">
				<p>
					{{madlib.mName}} was a {{madlib.jobTitle}} who loved technology. Although he loved parts of his job, he absolutely hated  {{madlib.tediousTask}} and {{madlib.dirtyTask}}. So, {{madlib.mName}} met with his life mentor {{madlib.celebrity}} who told him to learn how to {{madlib.uselessSkill}} with Thinkful. Thinkful didn't offer a course on {{madlib.uselessSkill}} so he studied programming instead. 
	 
					What a great decision! With his new skills, {{madlib.mName}} built a(n) {{madlib.adjective}} robot named {{madlib.obnoxiousCelebrity}} that not only loved {{madlib.dirtyTask}} but did it {{madlib.hugeNumber}} faster. 

				</p>
			</div>
		</div>
	</div>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.js"></script>
	<script src="app.js"></script>
</body>
</html>