<!DOCTYPE html>
<html lang="en" ng-app="">
<head>
	<meta charset="UTF-8">
	<title>ngMadLibs</title>
	<link href="img/favicon.ico" rel="icon" type="image/x-icon" />
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Loved+by+the+King' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div class="container">
		<header>
			<img src="img/mad-lib-happy-face.png">
			<img src="img/ng-mad-libs-logo.png">
			<h2>Automate This!</h2>
		</header>
		<div class="jumbotron">
			<h2>Provide the following words: </h2>
			<input type="text" ng-init="mName='Male Name'" ng-model="mName">
			<input type="text" ng-init="dirtyTask='Dirty Task'" ng-model="dirtyTask">
			<input type="text" ng-init="obnoxiousCelebrity='Obnoxious Celebrity'" ng-model="obnoxiousCelebrity">
			<input type="text" ng-init="jobTitle='Job Title'" ng-model="jobTitle">
			<input type="text" ng-init="celebrity='Celebrity'" ng-model="celebrity">
			<input type="text" ng-init="hugeNumber='Huge Number'" ng-model="hugeNumber">
			<input type="text" ng-init="tediousTask='Tedious Task'" ng-model="tediousTask">
			<input type="text" ng-init="uselessSkill='Useless Skill'" ng-model="uselessSkill">
			<input type="text" ng-init="adjective='Adjective'" ng-model="adjective">
		</div>
		<div class="madlib-text">
			<p>
				{{mName}} was a {{jobTitle}} who loved technology. Although he loved parts of his job, he absolutely hated  {{tediousTask}} and {{dirtyTask}}. So, {{mName}} met with his life mentor {{celebrity}} who told him to learn how to {{uselessSkill}} with Thinkful. Thinkful didn't offer a course on {{uselessSkill}} so he studied programming instead. 
 
				What a great decision! With his new skills, {{mName}} built a(n) {{adjective}} robot named {{obnoxiuousCelebrity}} that not only loved {{dirtyTask}} but did it {{hugeNumber}} faster. 

			</p>
		</div>
	</div>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.js"></script>
</body>
</html>